.weui-search-bar__text{
  align-items: flex-start
}
.weui-search-bar__label{
  background: transparent
}
.weui-search-bar__cancel-btn{
  font-size: 15px
}
.weui-search-bar__box{
}
.weui-search-bar{
  background: transparent;
  border:0
}
.weui-search-bar__input{
  color: #333;
  font-size: 12px;
}
.weui-search-bar__form{
  border-radius: 50px;
  border-color: rgba(0,0,0,.05);
  background-color: rgba(255,255,255,.9)
}
.weui-icon-search_in-box{
  top:6px
}