
@import './weui.scss';
@import './asset/font/iconfont.scss';
@import './var.scss';
// top search
page{
  height:100%;
}
.main{
  height:100%;
  // background-color: red;
  // overflow: hidden;
}
.pd-h{
  padding: 0 10px;
}
.pd-b{
  padding: 10px 0;
}
.mh_flex1{flex:1}
.mh_flex,
.f-c-s,
.f-c-c,
.f-c-e,
.f-c-s-b,
.f-c-c-b,
.f-c-e-b,
.f-h-s,
.f-h-c,
.f-h-e,
.f-h-s-b,
.f-h-c-b,
.f-h-e-b,
.f-v-s,
.f-v-c,
.f-v-e,
.f-v-s-b,
.f-v-c-b,
.f-v-e-b{
  display: flex;
}
.f-c-s,
.f-c-c,
.f-c-e,
.f-c-s-b,
.f-c-c-b,
.f-c-e-b,
.f-h-c,
.f-h-c-b,
.f-v-c,
.f-v-c-b{
  align-items: center;
}
.f-c-s,
.f-c-s-b,
.f-h-s,
.f-h-s-b,
.f-v-s,
.f-v-s-b{
  align-items: flex-start;
}
.f-c-e,
.f-c-e-b,
.f-h-e,
.f-h-e-b,
.f-v-e,
.f-v-e-b{
  align-items: flex-end;
}
.f-c-s-b,
.f-c-c-b,
.f-c-e-b,
.f-h-s-b,
.f-h-c-b,
.f-h-e-b,
.f-v-s-b,
.f-v-c-b,
.f-v-e-b{
  justify-content:space-between;
}
.f-v-s,
.f-v-c,
.f-v-e,
.f-v-s-b,
.f-v-c-b,
.f-v-e-b{
  flex-direction: column;
}
.f-c-c,
.f-c-c-b{
  justify-content: center;
}

.elips-one{
  overflow:hidden; 
  text-overflow:ellipsis;
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1; 
}
.c333{
  color: #333333;
}
.c666{
  color: #666666;
}
.c999{
  color: #999999;
}
.cfff{
  color: #FFFFFF;
}
.ft10{ font-size: 10px; }
.ft11{ font-size: 11px; }
.ft12{ font-size: 12px; }
.ft13{ font-size: 13px; }
.ft14{ font-size: 14px; }
.ft15{ font-size: 15px; }
.ft16{ font-size: 16px; }
.ft18{ font-size: 18px; }
.ft20{ font-size: 20px; }
.font-bold{
  font-weight: bold;
}
.mr5{ margin-right: 5px;}
.mr10{margin-right: 10px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}

.lh-1{
  line-height: 1;
}
.img100{
  width: 100%;
  height: 100%;
}
.nav-bottom-space{padding-bottom: 50px;}
.topPart{
  background-color: $mainColor;
  align-items: center;
  justify-content: space-between;
}
.scroll-box{
  display: flex;
  flex:1;
  border: 1px solid red;
  height:100%;
  overflow: auto;
}
.fixed-top{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
// old UI

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /*padding: 200px 0;*/
  box-sizing: border-box;
  width:100%;
  background: #F0F4F3;
  padding: 0;
  font-size: 20px;
  color: #000;

  &.withtab{
    margin: 105px 0 0 0;
  }

}
.feed-item{
    width: 690px;
    padding: 30px 30px 20px;
    margin: 7px 0 6px 0;
    background: #ffffff;
    border-top: 1px solid $lineColor;
    border-bottom: 1px solid  $lineColor;
    box-shadow: 0 2px 5px  $lineColor;

    .answer-name {
        padding-left:10px;
        font-size: 24px;
    }
    .feed-content{
      padding: 10px 0 0 0;
      .question {
        text,span {
          font-size: 28px;
          font-weight: 600px;
          line-height: 40px;
          text-space: 5px;
        }
      }
      .answer-body{
        padding: 10px 0 0 0;
        font-size: 24px;
        line-height: 28px;
        color: #5b5b5b;
      }

      .answer-actions{
        width: 690px;
        padding: 10px 0  0;
        color: #a0acac;

        view,div,span {
          display: inline-block;
          vertical-align: text-bottom;
          padding: 0 10px 0 0;
          font-size: 24px;
        }
      }
    }

    .feed-source{
      display: flex;
      width: 100%;
      height: 50px;

      .feed-source-txt{
        display: inline-block;
        height: 45px;
        line-height: 45px;
        vertical-align: middle;
        margin: 0 0 0 15px;
        color: #a0acac;
        font-size: 26px;
      }
      .flex1 {
        flex:1;
      }
      .flex8 {
        flex:8;
      }
      .item-more{
        display: inline-block;
        width: 40px;
        height: 45px;
        text-align: right;
      }
      .avatar{
        position: relative;
        display: inline-block;

        image,img{
          display: inline-block;
          width: 45px;
          height: 45px;
          border-radius: 45px;
          top: 10px;
          vertical-align: middle;
        }
      }
    }
  }
.flex-wrp{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-tab{
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.flex-item{
  flex-grow: 1;
  text-align: center;
}
.top-tab{
  width: 750px;
  height: 100px;
  background: #298DE5;
  color: #8CCEFD;
  font-size: 28px;
  line-height: 100px;
  box-shadow: 0 2px 2px #bebebe;
  margin: 0 0 8px 0;
  position: fixed;
  top: 0;
  z-index: 9999;

  &.active{
    color: #ffffff;
    border-bottom: solid 2px #ffffff;
  }
}
.txcenter {
  font-size: 28px;
  padding: 20px;
  text-align:center;
}
.taro-img {
  width: auto!important;
  height: auto!important;
}
